{erl_opts, [
    debug_info,
    warnings_as_errors,
    {i, "include"}
]}.

{deps, []}.

{project_plugins, []}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]},
        {deps, []}
    ]}
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        underspecs
    ]},
    {plt_apps, all_deps}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
